@use "base/_var" as *;
.product-card{
	background-color: #fff;
	border-radius: remy(30);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: #000;
	&__img{
		position: relative;
		width: 100%;
		aspect-ratio: 653/435;
		background-color:#e8e8e8;
		flex-shrink: 0;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

		
	}
	.label-best{
		position: absolute;
		bottom: remy(20);
		left: remy(20);
		z-index: 2;
		img{
			width: remy(65);
			aspect-ratio: 1;
		}
	}
	&__body{
		background-color: #fff;
		padding: remy(20);
		display: flex;
		flex-direction: column;
		row-gap: remy(10);
		flex:1;
		&>*{width: 100%;}
	}
	&__text{
		flex:1;
		padding-bottom: remy(6);
		font-size: remy(20);
	}
	
}
.books-content{
	display: flex;
	flex-wrap:wrap;
	gap:remy(30);
	.product-card{
		width: calc((100% - 30px) / 2);
	}
}