@use "base/_var" as *;
.product-card{
	background-color: #fff;
	border-radius: remy(30);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: #000;
	@media (max-width: 767px) {
	  border-radius: remy(20);
	}
	&__img{
		position: relative;
		width: 100%;
		aspect-ratio: 653/435;
		background-color:#e8e8e8;
		flex-shrink: 0;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
		overflow: hidden;
		img{ transform: scale(1.2);}
       
		
	}
	.label-best{
		position: absolute;
		bottom: remy(20);
		left: remy(20);
		z-index: 2;
		animation-name: pulse;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		
		img{
			width: remy(65);
			aspect-ratio: 1;
		}
		@media (max-width: 767px) {
		  img{width: remy(30);}
		}
	}
	&__body{
		background-color: #fff;
		padding: remy(20);
		display: flex;
		flex-direction: column;
		row-gap: remy(10);
		flex:1;
		&>*{width: 100%;}
		@media (max-width: 1199px) {  padding: remy(15);}
		 
		
	}
	&__text{
		flex:1;
		padding-bottom: remy(6);
		font-size: remy(20);
		@media (max-width: 1364px) {
		  font-size:remy(16);
		  
		}
		@media (max-width: 767px) {
		  font-size:remy(14);
		   padding-bottom: 0;
		}
	}
	
}
@keyframes pulse{
	0%{
		transform: rotateY(0);
	}
	25%{transform: rotateY(90deg);}
	75%{transform: rotateY(-90deg);}
	100%{transform: rotateY(0);}
	
}
.books-content{
	display: flex;
	flex-wrap:wrap;
	gap:remy(30);
	.product-card{
		width: calc((100% - 30px) / 2);
		.swiper-pagination{bottom: remy(6);}
		.swiper-pagination .swiper-pagination-bullet{background: white;  margin: 0 3px; opacity: 1; width:remy(10); height: remy(10);}
		.swiper-pagination .swiper-pagination-bullet-active{background: var(--accent2);}
	}
	@media (max-width: 1199px) {
		  gap:remy(20);
		  .product-card{width: calc((100% - 20px) / 2);}
	}
	@media (max-width: 767px) {
	 .product-card{
		width: 100%;
		.swiper-pagination{bottom: auto; top: remy(15); left: remy(15); text-align: left;}
		
	  }
	}
}