// @use "sass:math";

@use "base/_var" as *;

.header{
	padding-block: remy(50);
	overflow: hidden;
	position: relative;
	z-index: 2;
	
	
	@media (max-width: 1364px) {
	  padding-block: remy(40);
	}
	@media (max-width: 1023px) {
	 padding-block: remy(30);
	}
}
.header-content{
	display: flex;
	align-items: center;
	column-gap:remy(40);
}