// @use "sass:math";

@use "base/_var" as *;

.header{
	padding-top: remy(50);
	padding-bottom: remy(30);	
	
	overflow: hidden;
	position: relative;
	z-index: 2;
	
	
	@media (max-width: 1364px) {
	  padding-top: remy(40);
	  padding-bottom: remy(20);	
	}
	@media (max-width: 1023px) {
	 padding-top: remy(30);
	 padding-bottom: remy(10);	
	}
}
.header-content{
	display: flex;
	align-items: center;
	column-gap:remy(40);
}