// @use "sass:math";

@use "base/_var" as *;

.header{
	padding-block: remy(50);
	
	position: relative;
	.container{
		position: relative;
		z-index: 2;
	}
	&:after{
		content:'';
		width: 704px;
		height: 419px;
		display: block;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='704' height='419' viewBox='0 0 704 419' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_f_46007_22)'%3e%3ccircle cx='207.5' cy='-77.5' r='163.5' fill='%23151580' /%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_f_46007_22' x='-288.1' y='-573.1' width='991.2' height='991.2' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix' /%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3e%3cfeGaussianBlur stdDeviation='166.05' result='effect1_foregroundBlur_46007_22' /%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
	}
	&:before{
		content:'';
		width: 790px;
		height: 457px;
		display: block;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='790' height='457' viewBox='0 0 790 457' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_f_46007_20)'%3e%3ccircle cx='615.6' cy='-159.5' r='283.5' fill='%23151580'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_f_46007_20' x='-3.05176e-05' y='-775.1' width='1231.2' height='1231.2' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3e%3cfeGaussianBlur stdDeviation='166.05' result='effect1_foregroundBlur_46007_20'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e ");
	}
	@media (max-width: 1364px) {
	  padding-block: remy(40);
	}
	@media (max-width: 1023px) {
	 padding-block: remy(30);
	}
}
.header-content{
	display: flex;
	align-items: center;
	column-gap:remy(40);
}