.mission-card{
	display: flex;
	align-items: center;
	&__title{
		width: 494px;
		flex-shrink: 0;
	}
	&__img{
		flex:1;
		img{
			height: 653px;
			width: auto;

		}
	}
}
.fs-24{
	font-weight: 400;
	font-size: 24px;
	color: rgba(255, 255, 255, .7);
}