@use "base/_var" as *;
.promo-swiper{
	width: 42%;
	.promo-picture{
		width: 100%;
		img{
			aspect-ratio: 500/700;
			object-fit: contain;
			@media (max-width: 1599px) {
			  max-height: 600px;
			}
			
		}
		@media (max-width: 767px) {
		    width: 100%;
			max-width: remy(267);
			margin: 0 auto;
			display: flex;
			justify-content: center;
		img{
				max-width: remy(267);
				max-width: 14rem;
				aspect-ratio:267/342;
				object-fit: contain;
			}
		}
	}
	@media (max-width: 767px) {
	width: 100%;
	}
} 
  
.promo-pagination.num-pagination {
	margin-top: remy(70);
	bottom: auto;
	position: relative;
	z-index: 4;
	@media (max-width: 1199px) {
	  margin-top: remy(12);
	}
}
.promo-content{
	display: flex;
	justify-content: space-between;
	width: 100%;
	// column-gap: remy(32);
	@media (max-width: 767px) {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		text-align: center;
		
	}
}
.promo{
	position: relative;
	padding-bottom: 60px;
	&:after{
		content:'';
		
		display: block;
		width: 80%;
		aspect-ratio: 1364/415;
		background-image: url(../img/gradients/promo-bottom.webp);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 0;
	}
	@media (max-width: 767px) {
	padding-top: remy(20);
	}
}
.promo-text{
	flex:1;
	display: flex;
	flex-direction: column;
	row-gap:remy(30);
	font-family: var(--font-family);
	font-weight: 400;
	padding-top: remy(8);
	padding-right: 32px;
	@media (max-width: 1439px) {
	  row-gap:remy(20);
	 padding-top: 0;
	}
	@media (max-width: 767px) {
	  padding-right: 0;
	  row-gap: remy(8);
	  justify-content: center;
	  align-items: center;
	  .h1{margin-bottom: 12px;  br{display: none;}}
	  .promo-suptext{display: none!important;}
	}
	
}
.promo-suptext{
	font-size: remy(20);
	color: rgba(255, 255, 255, .7);
	padding-block:remy(10);
	padding-left: remy(20);
	border-left: 1px solid currentColor;
	margin-bottom: remy(20);
	  &.visible-mobile{display: none;}
	@media (max-width: 1439px) {
	  margin-bottom: 0;
	}
	@media (max-width: 767px) {
	  font-size: remy(14);
	  
	  border-left:0;
	  padding-left: 0;
	  padding-block:0;
	
	  &.visible-mobile{
		display: block;
		text-align: center;
	  }
	}
}
.promo-subtext{
	font-size: remy(32);
	color: rgba(255, 255, 255, .9);
	@media (max-width: 1439px) {
	  font-size: 2.22vw;
	}
	@media (max-width: 767px) {
	 font-size: remy(20);
	 margin-bottom: 10px;
	   br{display: none;}
	}
}
.promo-picture{
	width: 42%;
	max-width: remy(551);
	position: relative;
	.book-label{
		width: remy(99);
		aspect-ratio: 1;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-50%, -10%);
		z-index: 5;
		@media (max-width: 1439px) {
			width: 7vw
		}
		@media (max-width: 767px) {
		 width: remy(50);
		}

	}
	@media (max-width: 767px) {
	    
		
	}
}

// NEW
    
   