@use "base/_var" as *;
.testimonial-card{
	background: white;
	border-radius: remy(20);
	padding: remy(15);
	color: var(--reverceText);
	font-size: remy(16);
	display: flex;
	flex-direction: column;
	row-gap:remy(10);
	width: 100%;
	@media (max-width: 1199px) {
		  font-size: remy(14);
		  row-gap:remy(5);
		}
	&__header{
		display: flex;
		column-gap:remy(10);
		align-items: center;
		font-size: remy(20);
		width: 100%;
		@media (max-width: 1199px) {
		  font-size: remy(16);
		}
	}
	&__body{
		width: 100%;
	}
}
.icon-persone{
	display: block;
	width: remy(35);
	height: remy(35);
	border-radius: 50%;
	flex-shrink: 0;
	background-color: var(--accent2);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 1.66663C9.11595 1.66663 8.26811 2.01782 7.64299 2.64294C7.01787 3.26806 6.66668 4.1159 6.66668 4.99996C6.66668 5.88401 7.01787 6.73186 7.64299 7.35698C8.26811 7.9821 9.11595 8.33329 10 8.33329C10.8841 8.33329 11.7319 7.9821 12.357 7.35698C12.9822 6.73186 13.3333 5.88401 13.3333 4.99996C13.3333 4.1159 12.9822 3.26806 12.357 2.64294C11.7319 2.01782 10.8841 1.66663 10 1.66663ZM8.33334 4.99996C8.33334 4.55793 8.50894 4.13401 8.8215 3.82145C9.13406 3.50889 9.55798 3.33329 10 3.33329C10.442 3.33329 10.866 3.50889 11.1785 3.82145C11.4911 4.13401 11.6667 4.55793 11.6667 4.99996C11.6667 5.44199 11.4911 5.86591 11.1785 6.17847C10.866 6.49103 10.442 6.66663 10 6.66663C9.55798 6.66663 9.13406 6.49103 8.8215 6.17847C8.50894 5.86591 8.33334 5.44199 8.33334 4.99996ZM14.1667 9.99996H5.83334C5.1703 9.99996 4.53442 10.2634 4.06558 10.7322C3.59674 11.201 3.33334 11.8369 3.33334 12.5C3.33334 14.36 4.09834 15.85 5.35334 16.8583C6.58834 17.85 8.24501 18.3333 10 18.3333C11.755 18.3333 13.4117 17.85 14.6467 16.8583C15.9 15.85 16.6667 14.36 16.6667 12.5C16.6667 11.8369 16.4033 11.201 15.9344 10.7322C15.4656 10.2634 14.8297 9.99996 14.1667 9.99996ZM5.83334 11.6666H14.1667C14.3877 11.6666 14.5997 11.7544 14.7559 11.9107C14.9122 12.067 15 12.2789 15 12.5C15 13.8616 14.4583 14.8716 13.6033 15.5583C12.7267 16.2616 11.4667 16.6666 10 16.6666C8.53334 16.6666 7.27334 16.2616 6.39668 15.5583C5.54168 14.8716 5.00001 13.8616 5.00001 12.5C5.00001 12.2789 5.08781 12.067 5.24409 11.9107C5.40037 11.7544 5.61233 11.6666 5.83334 11.6666Z' fill='white'/%3e%3c/svg%3e");
	background-size:remy(20);
	background-position: center;
	@media (max-width: 1199px) {
		width: remy(30);
		height: remy(30);
		background-size:remy(15);
	}

}
.rating-stars{
	width: remy(120);
	height: remy(20);
	flex-shrink: 0;
	display: block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='120' height='20' viewBox='0 0 120 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.54203 1.04524C9.71691 0.646116 10.2831 0.646116 10.458 1.04524L12.6158 5.97003C12.6883 6.13559 12.8445 6.24911 13.0244 6.26694L18.375 6.79727C18.8086 6.84025 18.9836 7.37873 18.658 7.66838L14.641 11.2424C14.506 11.3626 14.4463 11.5462 14.485 11.7228L15.634 16.9754C15.7271 17.4011 15.269 17.7339 14.893 17.5137L10.2526 14.7978C10.0966 14.7065 9.90344 14.7065 9.74744 14.7978L5.10703 17.5137C4.73095 17.7339 4.2729 17.4011 4.36602 16.9754L5.51505 11.7228C5.55368 11.5462 5.494 11.3626 5.35896 11.2424L1.34199 7.66838C1.01645 7.37873 1.19141 6.84025 1.62504 6.79727L6.97559 6.26694C7.15546 6.24911 7.3117 6.13559 7.38424 5.97003L9.54203 1.04524Z' fill='%23DE791F'/%3e%3cpath d='M34.542 1.04524C34.7169 0.646116 35.2831 0.646116 35.458 1.04524L37.6158 5.97003C37.6883 6.13559 37.8445 6.24911 38.0244 6.26694L43.375 6.79727C43.8086 6.84025 43.9836 7.37873 43.658 7.66838L39.641 11.2424C39.506 11.3626 39.4463 11.5462 39.485 11.7228L40.634 16.9754C40.7271 17.4011 40.269 17.7339 39.893 17.5137L35.2526 14.7978C35.0966 14.7065 34.9034 14.7065 34.7474 14.7978L30.107 17.5137C29.731 17.7339 29.2729 17.4011 29.366 16.9754L30.515 11.7228C30.5537 11.5462 30.494 11.3626 30.359 11.2424L26.342 7.66838C26.0164 7.37873 26.1914 6.84025 26.625 6.79727L31.9756 6.26694C32.1555 6.24911 32.3117 6.13559 32.3842 5.97003L34.542 1.04524Z' fill='%23DE791F'/%3e%3cpath d='M59.542 1.04524C59.7169 0.646116 60.2831 0.646116 60.458 1.04524L62.6158 5.97003C62.6883 6.13559 62.8445 6.24911 63.0244 6.26694L68.375 6.79727C68.8086 6.84025 68.9836 7.37873 68.658 7.66838L64.641 11.2424C64.506 11.3626 64.4463 11.5462 64.485 11.7228L65.634 16.9754C65.7271 17.4011 65.269 17.7339 64.893 17.5137L60.2526 14.7978C60.0966 14.7065 59.9034 14.7065 59.7474 14.7978L55.107 17.5137C54.731 17.7339 54.2729 17.4011 54.366 16.9754L55.515 11.7228C55.5537 11.5462 55.494 11.3626 55.359 11.2424L51.342 7.66838C51.0164 7.37873 51.1914 6.84025 51.625 6.79727L56.9756 6.26694C57.1555 6.24911 57.3117 6.13559 57.3842 5.97003L59.542 1.04524Z' fill='%23DE791F'/%3e%3cpath d='M84.542 1.04524C84.7169 0.646116 85.2831 0.646116 85.458 1.04524L87.6158 5.97003C87.6883 6.13559 87.8445 6.24911 88.0244 6.26694L93.375 6.79727C93.8086 6.84025 93.9836 7.37873 93.658 7.66838L89.641 11.2424C89.506 11.3626 89.4463 11.5462 89.485 11.7228L90.634 16.9754C90.7271 17.4011 90.269 17.7339 89.893 17.5137L85.2526 14.7978C85.0966 14.7065 84.9034 14.7065 84.7474 14.7978L80.107 17.5137C79.731 17.7339 79.2729 17.4011 79.366 16.9754L80.515 11.7228C80.5537 11.5462 80.494 11.3626 80.359 11.2424L76.342 7.66838C76.0164 7.37873 76.1914 6.84025 76.625 6.79727L81.9756 6.26694C82.1555 6.24911 82.3117 6.13559 82.3842 5.97003L84.542 1.04524Z' fill='%23DE791F'/%3e%3cpath d='M109.542 1.04524C109.717 0.646116 110.283 0.646116 110.458 1.04524L112.616 5.97003C112.688 6.13559 112.845 6.24911 113.024 6.26694L118.375 6.79727C118.809 6.84025 118.984 7.37873 118.658 7.66838L114.641 11.2424C114.506 11.3626 114.446 11.5462 114.485 11.7228L115.634 16.9754C115.727 17.4011 115.269 17.7339 114.893 17.5137L110.253 14.7978C110.097 14.7065 109.903 14.7065 109.747 14.7978L105.107 17.5137C104.731 17.7339 104.273 17.4011 104.366 16.9754L105.515 11.7228C105.554 11.5462 105.494 11.3626 105.359 11.2424L101.342 7.66838C101.016 7.37873 101.191 6.84025 101.625 6.79727L106.976 6.26694C107.155 6.24911 107.312 6.13559 107.384 5.97003L109.542 1.04524Z' fill='%23DE791F'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size:contain;
	@media (max-width: 1199px) {
		width: remy(90);
	    height: remy(15);
		}
}
.testimonials{
	
	.container{
		@media (max-width: 767px) {position: relative;}
	}
	
}
.testimonials-swiper .swiper-slide{
	@media (max-width: 1199px) {
	  width: remy(308)!important;
	}
	@media (max-width: 1023px) {
	 width: remy(333)!important;
	}
	@media (max-width: 574px) {
	 width: 100%!important;
	}
}
