//AUTHOR
section.about-author
	.container
		.about-author-content
			.about-author__column
				h2.h1 Author
				.about-author__img
					picture
						source(srcset="./img/author-group-w375.webp 1x, ./img/author-group-w375@2x.webp 2x"  media="(max-width: 1023px)")
						img(src='./img/author-group.webp', srcset='./img/author-group@2x.webp 2x' width='930' height='930' loading='lazy' alt='img')
				.about-author__text 
					p Jonathan Adams | Emmy-Nominated
					p Author
					p A father of two and acclaimed screenwriter, Jonathan creates STEM guides that truly "click." Each book is developed with educators and psychologists, then meticulously crafted by designers to ensure complex topics are crystal clear and easy to master.
			