//BOOKS
section.books.py-40
	.container
		.section-header
			h2.h1 Books
		.books-content
			.product-card
				.product-card__img
					span.label-best
						img.img-contain(src='./img/products/best.webp', srcset='./img/products/best@2x.webp 2x' width='65' height='65' loading='lazy' alt='img')
					.swiper.book-swiper
						.swiper-wrapper
							.swiper-slide
								img.img-contain(src='./img/products/physics1.webp', srcset='./img/products/physics1@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/physics2.webp', srcset='./img/products/physics2@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/physics3.webp', srcset='./img/products/physics3@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/physics4.webp', srcset='./img/products/physics4@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
						.book-pagination.swiper-pagination

				.product-card__body
					.h3 Physics
					.product-card__text
						p From gravity and motion to the magic of light, discover how the world works through hands-on projects and vivid visuals. A powerful guide that turns complex science into simple, exciting discoveries
					.product-card__btn
						a.btn-accent(href="#!") Buy on Amazon
			
			.product-card
				.product-card__img
					.swiper.book-swiper
						.swiper-wrapper
							.swiper-slide
								img.img-contain(src='./img/products/astronomy1.webp', srcset='./img/products/astronomy1@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/astronomy2.webp', srcset='./img/products/astronomy2@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/astronomy3.webp', srcset='./img/products/astronomy3@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/astronomy4.webp', srcset='./img/products/astronomy4@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
						.book-pagination.swiper-pagination
				.product-card__body
					.h3 Astronomy
					.product-card__text
						p A Journey Beyond the Stars From black holes to SpaceX rockets, the mysteries of space come alive through stunning visuals and cosmic facts. A thrilling guide that makes the universe feel close, clear, and easy for any young explorer to master.
					.product-card__btn
						a.btn-accent(href="#!") Buy on Amazon
			.product-card
				.product-card__img
					.swiper.book-swiper
						.swiper-wrapper
							.swiper-slide
								img.img-contain(src='./img/products/anatomy1.webp', srcset='./img/products/anatomy1@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/anatomy2.webp', srcset='./img/products/anatomy2@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/anatomy3.webp', srcset='./img/products/anatomy3@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/anatomy4.webp', srcset='./img/products/anatomy4@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
						.book-pagination.swiper-pagination
				.product-card__body
					.h3 Anatomy
					.product-card__text
						p A Visual Journey through the Human Body From the heart to the brain, complex systems become easy to understand through crystal-clear diagrams and fun facts. An immersive guide that makes biology simple, engaging, and impossible to forget.
					.product-card__btn
						a.btn-accent(href="#!") Buy on Amazon
			.product-card
				.product-card__img
					.swiper.book-swiper
						.swiper-wrapper
							.swiper-slide
								img.img-contain(src='./img/products/technology1.webp', srcset='./img/products/technology1@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/technology2.webp', srcset='./img/products/technology2@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/technology3.webp', srcset='./img/products/technology3@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
							.swiper-slide
								img.img-contain(src='./img/products/technology4.webp', srcset='./img/products/technology4@2x.webp 2x' width='653' height='435' loading='lazy' alt='img')
						.book-pagination.swiper-pagination
				.product-card__body
					.h3 Technology
					.product-card__text
						p Exploring the Digital World of Tomorrow From robots and AI to the secrets of the Internet, discover the inventions shaping our future through vibrant visuals and simple coding basics. A forward-thinking guide that turns complex tech into clear, exciting knowledge.
					.product-card__btn
						a.btn-accent(href="#!") Buy on Amazon

