header.header
	.container
		.header-content
			a.custom-logo(href="index.html")
				span Science Made #[span.txt-accent Easy]

			.header-menu
				ul.main-menu
					li.menu-item
						a(href="#reviews") Reviews
					li.menu-item
						a(href="#books") Books
					li.menu-item
						a(href="#mission") The Mission
					li.menu-item
						a(href="#author") Author
			
			//menu-toggle
			button.menu-toggle#menu-toggle
				span
	

