//MISSION
section.our-mission
	.container
		.section-header-group
			h2.fs-24 The Mission
		.swiper.mission-swiper
			.swiper-wrapper
				.swiper-slide
					.mission-card
						.mission-card-title
							.h1 Clearer than any textbook
						
						.mission-card-image
							img(src='./img/mission1.webp', srcset='./img/mission1@2x.webp 2x' width='1336' height='653' loading='lazy' alt='img')