@use '_var' as *;


*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	
}
:root {
	--font-family: "Gilroy", sans-serif;
   --second-family: "Gilroy", sans-serif;
   --third-family: "Kinetika", sans-serif;
	
	--accent: #f90;
	--text: #fff;
	--reverceText: #000;
	--bodyBg: #0b0b39;
	--accent2: #151580;
	
}
html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--bodyBg);
	background-image: url("../img/body-bg2.webp");
	background-image: image-set(
		url("../img/body-bg2.webp") 1x,
		url("../img/body-bg2@2x.webp") 2x
	);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: var(--font-family);
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	color: var(--text);
	@media (max-width: 767px) {
		background-image: url("../img/body-bg-w375.webp");
		background-image: image-set(
			url("../img/body-bg-w375.webp") 1x,
			url("../img/body-bg-w375@2x.webp") 2x
		);
	}
	
}
.lock{
	overflow: hidden; 
}
.page-content{
	display: flex;
	flex-direction: column;
	&>*{width: 100%;}
	header.header, footer.footer{flex-shrink:0}
	main{flex-grow: 1;}
}
a,
a:hover {
	text-decoration: none;
	
}
a {color: inherit;}
*,*:focus{
	outline: none;
}
a[href^="tel:"],
a[href^="mailto:"] {
	white-space: nowrap;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
.img-cover,.img-contain{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-contain{
	object-fit: contain;

}


input,
button, textarea{
	border: none;
	background:none;
	padding: 0;
	box-shadow: none;
	font-family: inherit;
	font-size: inherit;
}

button,input[type="submit"] {
	cursor: pointer;
}

address{font-style: normal;}

input::placeholder, textarea::placeholder{
	font-family: inherit;
	font-size: inherit;
}
main{
	position: relative;

}
.container{
	width: 100%;
	max-width: 1440px;
	padding-inline: 60px;
	margin: 0 auto;
	@media (max-width: 1279px) {
	  padding-inline: 50px;
	}
	@media (max-width: 1023px) {
	  padding-inline: 30px;
	}
	@media (max-width: 767px) {
	  padding-inline: 16px;
	}
}
.py-40{
	padding-top: remy(40);
	padding-bottom: remy(40);
	.container{
		@media (max-width: 767px) {position: relative;}
	}
	@media (max-width: 767px) {
		padding-top: remy(30);
		padding-bottom: remy(30);
	}
}
/*SWIPER*/
.swiper .swiper-slide{
	display: flex;
	min-height: unset;
	height: unset;
	outline: none;
}
.swiper-button-prev,
.swiper-button-next{
	width: remy(35);
	height: remy(35);
	background-color: white;
	border: 1px solid  rgba(40, 40, 248, 0.3);
	color: rgba(40, 40, 248, 1);
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	flex-shrink: 0;
	cursor: pointer;
	transition: .3s;
	
	text-align: center;
	&:after{font-size: 1rem; font-weight:700;}
	&:hover{
	opacity: .7;
	}
	
}
.swiper-button-prev{padding-right: 2px;}
.swiper-button-next{padding-left: 2px;}
*.num-pagination{
	display: flex;
	column-gap:remy(25);
	@media (max-width: 1023px) {
	column-gap:remy(15);
	justify-content: center;
	margin-top: remy(24);
	}
}
.swiper-special-navigation {
	display: flex;
	align-items: center;
	column-gap:remy(20);
	.swiper-button-next,
	.swiper-button-prev{
		transform: translateY(100%);
		@media (min-width: 768px) {
	  		position: relative;
			margin: 0;
			inset: auto;
			transform: translateY(0);
		}
	}
	
}

*.num-pagination .swiper-pagination-bullet {
      width: remy(83);
      font-size: remy(20);
      color: rgba(255,255,255, 1);
      opacity: .5;
      border-bottom: 1px solid currentColor;
	  margin: 0;
	  border-radius: 0;
	  height: auto;
	  background: transparent;
	  transition: .3s;
	  line-height: 1.2;
	  padding-bottom: 9px;
	  @media (max-width: 1023px) {
	  width: remy(56);
	  font-size: remy(14);
	  text-align: center;
	  }
    }

*.num-pagination   .swiper-pagination-bullet-active { opacity: 1; }