@use "base/_var" as *;
.btn, .btn-accent, .btn-white{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border-radius: remy(50);
	padding: 0;
	padding-inline:1.8em;
	width: fit-content;
	height: 2em;
	background: var(--accent);
	color: white;
	font-size: remy(32);
	font-weight: 400;
	font-family: var(--font-family);
	transition: .3s; 
	@media (max-width: 1023px) {
	  font-size: remy(20);
	}
}
.btn:hover{
	background: #d27e01;
}
.btn:active{
	background: #f6a42a;
}
.btn-accent{
	height: remy(55);
	background: var(--accent2);
	width: 100%;
	font-size: remy(24);
	&:hover{background: #4747d7;}
	&:active{ background: var(--accent2);}
	@media (max-width: 1199px) {
	   font-size: remy(20);
	}
	@media (max-width: 767px) {
	   font-size: remy(16);
	   height: remy(39);
	}
}
.btn-white{
  background-color: #fff;
  padding-left: 2em;
  padding-right: 2em;
  height: 2.2em;
  font-family: var(--font-family);
	font-weight: 400;
	font-size: remy(20);
	color: #0c0c3b;
	&:hover{
		background: var(--accent);
		color: white;
	}
	&:active{
		 background-color: #fff;
		 color: #0c0c3b;
	}
	@media (max-width: 767px) {
	  width: 100%;
	  max-width: remy(424);
	  height: 2em;
	}

}