@use "base/_var" as *;

.txt-accent{color: var(--accent);}
.h1{
	font-family: var(--third-family);
	font-weight: 500;
	font-size: remy(64);
	@media (max-width: 1439px) {
	  font-size: 4.4vw;
	}
	@media (max-width: 767px) {
	font-size: remy(32);
	}
}
.section-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom:remy(40);
	@media (max-width: 767px) {
	   margin-bottom:remy(20);
	   justify-content: center;
	   text-align: center;
	}
}