@use "base/_var" as *;

.txt-accent{color: var(--accent);}
.h1{
	font-family: var(--third-family);
	font-weight: 500;
	font-size: remy(64);
	@media (max-width: 1439px) {
	  font-size: 4vw;
	}
	@media (max-width: 1364px) {
	  font-size: 3.6vw;
	}
	@media (max-width: 767px) {
	font-size: remy(32);
	}
}
.h3{
	font-weight: 400;
	font-size: remy(32);
	@media (max-width: 1364px) {
	  font-size: remy(28);
	}
	@media (max-width: 1199px) {
	  font-size: remy(24);
	}
	@media (max-width: 767px) {
	font-size: remy(20);
	}

}
.fs-24{
	font-weight: 400;
	font-size: 24px;
	color: rgba(255, 255, 255, .7);
}
.section-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom:remy(40);
	@media (max-width: 767px) {
	   margin-bottom:remy(20);
	   justify-content: center;
	   text-align: center;
	}
}