@use "base/_var" as *;
.page-content{position: relative;}
.page-top-gradients{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 406px;
	transform: translateY(-10%);
	&:before{
		content:'';
		width: 50%;
		aspect-ratio:7/5;
		display: block;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background-image: url("../img/gradients/header-left.webp");
		transform: translate(-10vw, -5vw);
	}
	&:after{
		content:'';
		width: 50%;
		aspect-ratio:7/4;
		display: block;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		background-image: url("../img/gradients/header-right.webp");
		transform: translate(10vw, -1vw);
		
	}
}