@use "base/_var" as *;
.main-menu{
	display: flex;
	align-items: center;
	column-gap:remy(50);
	list-style-type: none;
	padding: 0;
	margin: 0;
	@media (max-width: 1279px) {
	  column-gap:remy(30);
	}
	@media (max-width: 1023px) {
	  column-gap:remy(24);
	}
	@media (max-width: 767px) {
		width: 100%;
		padding: 16px;
		 padding-top: 74px;
		background-color: var(--bodyBg);
	    flex-direction: column;
		align-items: flex-start;

	}
}
.main-menu a{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: remy(24);
	color: var(--text);
	transition: .3s;
	display: inline-block;
	position: relative;
	&:before{
		content:'';
		position: absolute;
		display: block;
		left: 0;
		bottom: 0;
		width: 0;
		background-color: transparent;
		
		border-radius: 5px;
		height: 1px;
		transition: .3s; 
	}
	&:hover{
		color: var(--accent);
		&:before{width: 100%;background-color: var(--accent);}
	}
	&:active{color:#f6a42a; &:before{width: 0;background-color: #f6a42a;}}
	@media (max-width: 1279px) {
	  font-size: remy(20);
	}
	@media (max-width: 1023px) {
	 font-size: remy(18);
	}
	@media (max-width: 767px) {
	 font-size: remy(24);
	 padding-block:7px;
	}
}
.header-menu{
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	@media (max-width: 767px) {
	   position: fixed;
	   background-color: var(--bodyBg);
	   top: 0;
	   right: 0;
	   left: 0;
	   height: 0;
	   overflow: hidden;
	   z-index: 3;
	   transition: .3s;
	  
	}
}