extends ../layouts/layout.pug

block content
	.page-content
		.page-top-gradients
		include ../sections/_header.pug
		main.main-page
			//- include ../sections/_promo.pug
			include ../sections/_promo-new.pug
			include ../sections/_review.pug
			include ../sections/_books.pug
			include ../sections/_mission.pug
			include ../sections/_author.pug
			include ../sections/_feedback.pug
			
					
		include ../sections/_footer.pug
			
block variables
	-var title = "Project";
